<app-titulo [title]='title'></app-titulo>
<div class="d-flex">
    <div class="form-inline mr-auto">
        <div class="form-group mb-2">
            <label class="mr-2">Filtro:</label>
            <input type="text"
                   class="form-control mr-2"
                   placeholder="buscar"
                   [(ngModel)]="filtroLista">
        </div>
    </div>
    <div>
        <button class="btn btn-outline-primary"
                (click)="newRegister(template)">
            <i class="fa fa-plus-circle"></i>
            &nbsp;Novo palestrante
        </button>
    </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                <button class="btn btn-outline-primary"
                        (click)="alternarImagem()"
                        title="{{mostrarImagem ? 'Ocultar imagem' : 'Mostrar imagem'}}">
                    <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
                </button>
            </th>
            <th>Id</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="palestrantesFiltrados && palestrantesFiltrados.length">
        <tr *ngFor="let palestrante of palestrantesFiltrados">
            <td>
                <img *ngIf="mostrarImagem"
                     src="http://localhost:5000/Resources/Images/{{palestrante.imagemUrl}}?dtimg={{dataImagem}}"
                     [style.width.px]="imagemLargura"
                     [style.margin.px]="imagemMargem">
            </td>
            <td>{{palestrante.id}}</td>
            <td>{{palestrante.nome}}</td>
            <td>{{palestrante.telefone}}</td>
            <td>{{palestrante.email}}</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-sm btn-danger mr-1"
                            tooltip="Excluir"
                            (click)="excluirPalestrante(palestrante, confirm)">
                        <i class="fa fa-eraser"></i>
                    </button>
                    <button class="btn btn-sm btn-warning"
                            tooltip="editar detalhado"
                            (click)="editarDetalhado(palestrante)">
                        <i class="fa fa-edit"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="palestrantesFiltrados && !palestrantesFiltrados.length">
        <tr>
            <td colspan="7"
                class="text-center">
                <h4>
                    Nenhum palestrante encontrado
                </h4>
            </td>
        </tr>
    </tfoot>
</table>

<div bsModal
     #template="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1"
                    class="modal-title pull-left">palestrante</h4>
                <button type="button"
                        class="close pull-right"
                        (click)="template.hide()"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form [formGroup]="registerForm">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Nome</label>
                            <input type="text"
                                   [ngClass]="{'is-invalid': registerForm.get('nome').errors && registerForm.get('nome').touched}"
                                   class="form-control"
                                   formControlName="nome"
                                   placeholder="Insira o nome">
                            <div *ngIf="registerForm.get('nome').hasError('required') && registerForm.get('nome').touched"
                                 class="invalid-feedback">Nome é obrigatório</div>
                            <div *ngIf="registerForm.get('nome').hasError('minlength') && registerForm.get('nome').touched"
                                 class="invalid-feedback">Nome deve ter no mínimo 4 caracteres</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label>Curriculo Resumido</label>
                            <ckeditor [editor]="miniCurriculoEditor"
                                      formControlName="miniCurriculo"></ckeditor>
                            <div *ngIf="registerForm.get('miniCurriculo').hasError('required') && registerForm.get('miniCurriculo').touched"
                                 class="invalid-feedback">O mini curriculo é obrigatório</div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-row">
                                <div class="form-group col-md-9">
                                    <input type="file"
                                           formControlName="imagemUrl"
                                           #file
                                           (change)="onFileChange($event.target.files)"
                                           class="form-control is-invalid"
                                           placeholder=""
                                           style="display: none">
                                </div>
                            </div>
                            <div class="card profile-card-2">
                                <div class="card-img-block">
                                    <img [src]="imagemUrl"
                                         class="img-fluid"
                                         (click)="file.click()"
                                         style="cursor: pointer; width: 350px;"
                                         alt="Card image cap" />
                                </div>
                                <div *ngIf="registerForm.get('imagemUrl').hasError('required') && registerForm.get('imagemUrl').touched"
                                     class="invalid-feedback">Imagem é obrigatório</div>
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label>E-mail</label>
                            <input type="text"
                                   [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
                                   class="form-control"
                                   formControlName="email">
                            <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched"
                                 class="invalid-feedback">E-mail é obrigatório</div>
                            <div *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched"
                                 class="invalid-feedback">Insira um e-mail válido</div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Telefone</label>
                            <input type="text"
                                   mask="(000) 0000-0000"
                                   [ngClass]="{'is-invalid': registerForm.get('telefone').errors && registerForm.get('telefone').touched}"
                                   class="form-control"
                                   formControlName="telefone"
                                   placeholder="Insira o telefone">
                            <div *ngIf="registerForm.get('telefone').hasError('required') && registerForm.get('telefone').touched"
                                 class="invalid-feedback">
                                Telefone é obrigatório.
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary"
                        (click)="cancelar(template)">
                    Cancelar
                </button>
                <button class="btn btn-primary ml-auto"
                        [disabled]="!registerForm.valid"
                        (click)="salvarAlteracao(template)">
                    Salvar Alterações
                </button>
            </div>
        </div>
    </div>
</div>

<div bsModal
     #confirm="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    Deletando palestrante
                </h4>
                <button type="button"
                        class="close pull-right"
                        (click)="confirm.hide()"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{bodyDeletarPalestrante}}</p>
            </div>
            <div class="modal-footer btn-group d-flex">
                <button type="button"
                        class="btn btn-outline-primary"
                        (click)="confirm.hide()">
                    CENCELAR
                </button>
                <button type="button"
                        class="btn btn-outline-danger"
                        (click)="confirmeDelete(confirm)">
                    DELETAR
                </button>
            </div>
        </div>
    </div>
</div>