<app-titulo [title]='title'></app-titulo>
<div class="container">
    <div class="row mbr-justify-content-center">

        <div class="col-lg-6 mbr-col-md-10">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class="mbr-iconfont fa-volume-up fa"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Latest Events</h2>
                    <div class="mbr-fonts-style text1 mbr-text display-6">
                        <ul *ngIf="events && events.length">
                            <li *ngFor="let event of events">
                                {{event.theme}} --> {{event.eventDate | DateTimeFormatPipe}}
                            </li>
                        </ul>
                        <div *ngIf="events && !events.length">
                            <h4>
                                No events found
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class="mbr-iconfont fa-calendar fa"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Create
                        <span>An Effective Team</span>
                    </h2>
                    <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class="mbr-iconfont fa-globe fa"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Launch
                        <span>A Unique Project</span>
                    </h2>
                    <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class="mbr-iconfont fa-trophy fa"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Achieve <span>Your Targets</span>
                    </h2>
                    <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div>
